{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('preperty_show', {'id': property.id }) }}">
                                    {{ property.title }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ property.surface }} m² - {{ property.city }} ( {{ property.postalCode }} )
                            </p>
                            <div class="text-primary">
                                {{ property.price | number_format(0,'',' ')}} $
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}
